.bar{
  width: 300px;
  height: 35px;
  border-radius: 20px;
  border: white;
color: black;
background-color: rgb(252, 252, 252);
padding-left: 25px;}


#button:hover {
  background-color: rgb(37, 37, 39);
  color: rgb(232, 231, 240);

}

body{
  background-color: rgb(239, 237, 237);
  margin: 10px;
}

.top{
background: rgba(15,43,73, 0.874);
width: 103.5%;
position: relative;
bottom: 55px;
padding: 5px 0px 15px 15px;
color: white;
font-family: 'Times New Roman', Times, serif;
font-size: 18px;
line-height: 5px;

}

#text{ color:white;
  position: relative;
  left: 80%;
  background:rgb(37, 37, 39) ;

}
.section-one{ background-color: white;
  padding-bottom: 15%;
  padding-right: 40px;
  padding-top: 50px;
  
}

#large-card{
 background-color: rgb(255, 255, 255);
 border-radius: 15px;
color: rgba(45, 40, 36, 0.874);
 width: 650px;
max-width: fit-content;
 padding:60px 20px;
 margin-left: 40%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-text {
font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  color: white;


}

h2{
  font-size: 21px;
}
h3{
  text-align: right;

}
.bigword{
  font-size: 100px;
}

form{ padding: 40px 0 20px 20px;

}


#cartoon{
  position: absolute;
top: 58%;
align-items: flex-end;
}

#cartoon1{
position:absolute;
left:75%;
top:150%;


}
.section-two{
  display: grid;
  grid-template-columns: 1fr 1fr;
 color: black;
 background-color: rgb(238, 238, 238);
 padding: 120px 50px 190px 50px;
}


.word{
  position: relative;
 top: 95px;
font-size: 40px;
color: rgb(255, 255, 255);
text-align: right;
padding-right: 45px;
font-family: Arial, Helvetica, sans-serif;

}

#button{
  padding: 10px;
  border-radius: 15px;
  background: none;
  border: hidden;
  color: white;
  
}


#sm-card{
max-width: 500px;
background-color:rgba(15, 43, 73, 0.874);
color: whitesmoke;
padding: 15px;
border-radius: 10px;
font-size: 14px;
font-family: 'Times New Roman', Times, serif;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.section-three {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
color: whitesmoke;
padding: 50px;
 background-color: rgba(15, 43, 73, 0.626);
}

#grid{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius: 5px;
margin: 0 auto;
place-content:  center;
}

footer{
  background-color: rgb(142, 155, 178);
  padding: 50px;
}