body{
  background-color: rgb(37, 37, 39);

}


nav{
  max-width: fit-content;
}


#text{ color:white;
  position: relative;
  left: 80%;
  background:rgb(37, 37, 39) ;

}
.section-one{ background-color: rgb(242, 221, 195);
  padding-bottom: 15%;
  padding-right: 40px;

}

.card{
 background-color: rgb(255, 240, 222);
 border-radius: 10px;
 border: none;
max-width: fit-content;
 padding:50px;
 margin-left: 40%;
}
.main-text {

font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(37, 37, 39);
  background-color: rgb(242, 221, 195);
  

}

.bigword{
  font-size: 100px;
}

form{ padding: 40px 0 20px 20px;


}

img{
  position: absolute;
top: 50%;
padding-right: 5%;
}

.section-two{
  display: grid;
  grid-template-columns: 1fr 1fr;
 color: black;
 background-color: whitesmoke;
 padding: 50px;
}

.section-three {
 
background-color: rgb(37, 37, 39);
color: whitesmoke;
 padding: 50px;
}